.transaction-history {
  background-color: white;
  width: 400px;
  text-align: center;
  border-radius: 4px;
  color: rgb(89, 90, 90);
  border-collapse: collapse;

  box-shadow: 10px 5px 5px rgb(89, 90, 90);
  font-size: medium;
}

thead {
  background-color: rgb(68, 219, 169);
  color: white;
  text-transform: uppercase;
}
tr:nth-child(even) {
  background-color: whitesmoke;
}

th {
  padding-top: 10px;
  padding-bottom: 10px;
}
thead th:not(:last-child) {
  border-right: 1px solid white;
}

tbody {
  background-color: white;
}

tbody td:not(:last-child) {
  border-right: 1px solid rgb(233, 231, 231);
}

td {
  padding-top: 15px;
  padding-bottom: 15px;
}
td:first-child::first-letter {
  text-transform: uppercase;
}
